body {
    color: #6a6a6a;
}

input {
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
}

button {
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
    margin: 0 2px;
}

button:hover {
    background-color: #FFF8E3;
    /* color: white; */
    cursor: pointer;
}

.input-area {
    background-color: #F3D7CA;
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.incomplete-area {
    border: 2px solid #E6A4B4;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.complete-area {
    border: 2px solid #E6A4B4;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #faf6f8;
}

.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.list-row {
    display: flex;
    align-items: center;
}

.todo-item {
    margin: 6px;
}

